{% extends "school/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
        <div class = "container">
        <small class="text-muted">
           If you already have account <a class="ml-2" href="{% url 'login' %}"> Click here to Login in! </a>
           </small>

        <form method="POST">
        {% csrf_token %}
        <fieldset class = "form-group">
          <legend class="border-bottom mb-4">
                   Registration Page
          </legend>
              {{ form|crispy }}
              {{ profile_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Register</button>
        </div>
        </form>
        </div>
{% endblock content %}
